[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
pillow = "*"
psycopg2-binary = "*"
django-annoying = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest-django = "*"
pytest-cov = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
coverage = "*"
isort = "*"
python-webpack-boilerplate = "*"

[requires]
python_version = "3.12"
